<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg ar_model)">
  <xacro:include filename="$(find annin_ar4_description)/urdf/ar_macro.xacro" />
  <xacro:include filename="$(find annin_ar4_description)/urdf/ar_gripper_macro.xacro" />
  <xacro:include filename="$(find annin_ar4_description)/urdf/ar.ros2_control.xacro" />
  <xacro:include filename="$(find annin_ar4_description)/urdf/ar_gripper.ros2_control.xacro" />

  <xacro:arg name="simulation_controllers" default="" />
  <xacro:arg name="tf_prefix" default="" />
  <xacro:arg name="namespace" default="" />
  <xacro:arg name="base_yaw" default="0" />

  <link name="world" />
  <xacro:ar_robot
    tf_prefix="$(arg tf_prefix)"
    parent="world"
    robot_parameters_file="$(find annin_ar4_description)/config/$(arg ar_model).yaml"
  >
    <origin xyz="0 0 0" rpy="0 0 $(arg base_yaw)" />
  </xacro:ar_robot>
  <xacro:ar_gripper 
    tf_prefix="$(arg tf_prefix)"
    parent="$(arg tf_prefix)ee_link"
  />

  <xacro:ar_ros2_control
    ar_model="$(arg ar_model)"
    plugin_name="gz_ros2_control/GazeboSimSystem"
    serial_port="None"
    calibrate="False"
    robot_parameters_file="$(find annin_ar4_description)/config/$(arg ar_model).yaml"
    joint_offset_parameters_file="$(find annin_ar4_driver)/config/joint_offsets/$(arg ar_model).yaml"
    driver_parameters_file="$(find annin_ar4_driver)/config/driver.yaml"
    tf_prefix="$(arg tf_prefix)"
  />

  <xacro:ar_gripper_ros2_control
    name="ARGripperGazeboSystem"
    plugin_name="gz_ros2_control/GazeboSimSystem"
    serial_port="None"
    driver_parameters_file="$(find annin_ar4_driver)/config/gripper_driver.yaml"
    tf_prefix="$(arg tf_prefix)"
  />

  <!-- Camera link fixed to end-effector -->
  <link name="$(arg tf_prefix)ee_camera_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.1"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.02 0.02"/>
      </geometry>
      <material name="camera_material">
        <color rgba="0.2 0.2 0.8 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.02 0.02"/>
      </geometry>
    </collision>
  </link>

  <joint name="$(arg tf_prefix)ee_camera_fixed" type="fixed">
    <parent link="$(arg tf_prefix)ee_link"/>
    <child link="$(arg tf_prefix)ee_camera_link"/>
    <!-- Adjust pose to your mount; z offset puts it ahead of flange -->
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
  </joint>

  <gazebo reference="world" />
  <gazebo>
    <plugin filename="libgz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(arg simulation_controllers)</parameters>
      <ros>
        <namespace>$(arg namespace)</namespace>
      </ros>
    </plugin>
  </gazebo>

  <!-- Gazebo Sim RGB-D camera sensor attached to ee_camera_link -->
  <gazebo reference="$(arg tf_prefix)ee_camera_link">
    <sensor type="rgbd_camera" name="ee_rgbd_sensor">
      <!-- Identity pose - camera frame aligned with ee_camera_link frame -->
      <pose>0 0 0 1.57 -1.57 0</pose>
      <camera>
        <horizontal_fov>1.047</horizontal_fov>
        <image>
          <width>320</width>
          <height>240</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.1</near>
          <far>10.0</far>
        </clip>
      </camera>
      <depth_camera>
        <image>
          <width>320</width>
          <height>240</height>
          <format>FLOAT32</format>
        </image>
        <clip>
          <near>0.1</near>
          <far>10.0</far>
        </clip>
      </depth_camera>
      <always_on>1</always_on>
      <update_rate>30</update_rate>
      <visualize>true</visualize>
      <topic>rgbd_camera</topic>
      <enable_metrics>false</enable_metrics>
    </sensor>
  </gazebo>
</robot>